.button {
  padding: 10px 35px;
  border: 1px solid #ee5a5a;
  border-radius: 6px;
  font-size: 8px;
  font-weight: bold;
  color: #ee5a5a;
  cursor: pointer;
  background: transparent;
  transition: box-shadow 0.3s linear;
}

.button.active {
  color: white;
  background-color: #ee5a5a;
}

.button:hover {
  box-shadow: 3px 3px 6px rgba(224, 65, 65, 0.3);
}
