.logOutImgContainer {
  background-color: #ee5a5a;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  width: 100%;
  align-items: center;
  padding: 7px;
}

.logOutImg {
  width: 28px;
}

.logOutImgContainer:hover {
  background-color: #f07b7b;
  transition: 0.2s linear;
}

.logOutImgTurnOn {
  display: none;
}

@media (max-width: 700px) {
  .logOutImgTurnOn {
    display: block;
  }
}
