.toDoMessage {
  width: 60%;
  height: 40px;
  align-items: center;
  padding: 0 10px;
  margin: 7px;
  border-radius: 5px;
  display: flex;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f3b9b9;
}

.date {
  background-color: #f58080;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 10px;
  padding: 1px 5px;
  margin-right: 10px;
  max-height: 28px;
  width: 100px;
  min-width: 65px;
}

.toDoMessage input {
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  margin-right: 7px;
  height: 100%;
  color: #5d5c5d;
}

.toDoButtons {
  display: flex;
}

.toDoButtons button + button {
  margin-left: 5px;
}

.toDoMessage button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.toDoMessage button:hover {
  transform: translateY(-5px);
  border: 2px solid #ee5a5a;
}

.toDoMessage img {
  width: 18px;
}

.toDoButtons {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.toDoMessage:hover .toDoButtons {
  opacity: 1;
}

.todoError {
  color: #ee5a5a;
  font-size: 10px;
  margin-right: 2%;
}

.toDoMessage-done {
  border: 1px solid #aaaaaa;
}

.toDoMessage-done input {
  text-decoration: line-through;
}

@media (max-width: 576px) {
  .toDoMessage {
    width: 80%;
  }
}
