.container {
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
}

.toDoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.toDoTitle {
  font-size: 25px;
  color: #ee5a5a;
  text-transform: capitalize;
}

.toDoHeaderInputs {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoError {
  color: #ee5a5a;
  font-size: 10px;
  margin-right: 2%;
  text-align: center;
}

.toDoMessage-small {
  width: 45%;
  border: 1px solid #ee5a5a;
  box-shadow: none;
}

.toDoMessage-medium {
  width: 45%;
  border: 1px solid #ee5a5a;
  box-shadow: none;
}

@media (max-width: 700px) {
  body {
    background-color: #5d5c5d;
  }

  .toDoHeaderInputs {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 30px 0px;
  }

  .toDoMessage {
    width: 100%;
  }

  .toDoMessage-small {
    width: 100%;
  }

  .toDoMessage-medium {
    width: 100%;
  }
}
