* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f5;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 80px auto;
  /* Пока думаю */

  width: 600px;
  border-radius: 8px;

  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 0 65px;
}
.formTitle {
  font-size: 25px;
  color: #ee5a5a;
  text-transform: capitalize;
}

.formImg {
  width: 40%;
  border: 1px solid transparent;
  border-radius: 8px;
}

.socialMedia {
  margin-top: 20px;
}

.socialMedia img {
  width: 23px;
}

.socialMedia a + a {
  margin-left: 12px;
}

.formLable {
  color: #5d5c5d;
  margin-top: 20px;
}

form {
  margin-top: 15px;
  width: 100%;
}

.formInput {
  width: 100%;
  background-color: #f3f4f5;
  border-radius: 6px;
  border: 1px solid #c4cacc;
  padding: 9px 10px;
}

.formInput + .formInput {
  margin-top: 10px;
}

.formInput input {
  background: none;
  border: none;
  outline: none;
  font-size: 10px;
  width: 100%;
}

.formInput input::placeholder {
  color: #c4cacc;
}

.formCheckBox {
  margin-top: 13px;
  display: block;
}

.formCheckBox span {
  margin-left: 5px;
}

.formCheckBox input {
  cursor: pointer;
}

.formCheckBox a {
  color: #ee5a5a;
  text-decoration: none;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 35px;
  border: 1px solid #ee5a5a;
  border-radius: 6px;
  font-size: 8px;
  font-weight: bold;
  color: #ee5a5a;
  cursor: pointer;
  background: transparent;
  transition: box-shadow 0.3s linear;
}

.button.active {
  color: white;
  background-color: #ee5a5a;
}

.button:hover {
  box-shadow: 3px 3px 6px rgba(224, 65, 65, 0.3);
}
