.navLinkLink {
  text-decoration: none;
}
.navLink {
  margin-left: 100px;
  text-decoration: none;
  color: #5d5c5d;
  font-size: 15px;
}

.navLinkImg {
  display: none;
}

.navLinkLink {
  text-decoration: none;
}

.navLink.active {
  color: #ee5a5a;
}

.navLink:hover:not(.active) {
  color: #f07b7b;
  transition: 0.2s linear;
}

@media (max-width: 700px) {
  .navLinks {
    display: flex;
    flex-direction: column;
  }
  .navLink {
    margin: 0;
    width: 100%;
    padding: 7px;
    background-color: #ee5a5a;
  }

  .navLink.active {
    background-color: #dd3d3d;
  }

  .navLink:hover:not(.active) {
    background-color: #f07b7b;
    transition: 0.2s linear;
  }
  .navLinkImg {
    margin: 0 auto;
    display: block;
    width: 30px;
  }

  .navLinkTitle {
    display: none;
  }
}
